body {
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #212936;
    border-radius: 25px;
    width: 280px;
    height: 420px;
}

@media (max-width: 293px) {
    main {
        width: 260px;
    }
}

.song-img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    border-radius: 25px;
}

.song-title {
    font-size: 16px;
    font-weight: 700;
    color: #E5E7EB;
    text-align: center;
    padding-top: 12px;
}

.song-artist {
    font-size: 12px;
    font-weight: 600;
    color: #4D5562;
    text-align: center;
    padding: 12px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Estilo da barra de progresso */

.progress-container {
    position: relative;
    width: 80%; /* Ajuste conforme necessário */
    height: 6px;
    background-color: #E5E7EB; /* Cor de fundo da barra */
    border-radius: 3px;
    margin: 5px auto;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #C93B76; /* Cor da barra de progresso */
    border-radius: 3px;
}

/* Estilos para o tempo da música */

.time-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.current-time, .total-time {
    font-weight: 500;
    font-size: 10px;
    color: #4D5562;
}

/* Controles */

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.controls .back-btn {
    padding-right: 15px;
    cursor: pointer;
}

.controls .play-btn,
.controls .pause-btn {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 40px;
    height: 40px;
}

.controls .play-btn:hover,
.controls .pause-btn:hover {
    transform: scale(1.2);
}

.controls .play-btn.play-selected,
.controls .pause-btn.pause-selected {
    background-color: #C93B76;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 10px 3px rgba(201, 59, 118, 0.5), 0px 0px 15px 5px rgba(201, 59, 118, 0.3);
}

.controls .next-btn {
    padding-left: 15px;
    cursor: pointer;
}